body {
    text-align: center;
    font-family: 'Sigmar', sans-serif;
    background: #f8f8f8;
    cursor: url('cursor.png') 25 30, auto; /* Set default cursor on body */
}

img {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    color: yellow;
}
.construction-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Apply hover cursor to link and all its children */
a:hover, a:hover * {
    cursor: url('hovercursor.png') 25 30, auto;
}
.uc {
    width: 150px;  /* Adjust the width as needed */
    height: auto;  /* Maintain aspect ratio */
    margin-top: 100px; /* Adjust top margin to position it */
    margin-bottom: 100px; /* Adjust bottom margin */
    display: block;  /* Makes the image a block element (important for margin handling) */
    margin-left: auto;
    margin-right: auto; /* Centers the image horizontally */
}
